%h1.page_title Tip
%h3
  = link_to 'relative discussion', discussion_path(@discussion)
%h3.mt10
  = link_to 'Edit', edit_tip_path(@tip)
%h3.mt10
  = link_to 'Delete', tip_path(@tip), method: :delete

.mt30
  .tip-content
    %p.tip-show
      %b Question:
      = @tip.title
    %p.tip-show
      %b Author:
      = @tip.author

    %p.tip-show
      %br
      %b Answer:
      %p.tip-show
        = @tip.content

